*{
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
}
body{
    background-color: rgb(3, 3, 29);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-heading{
    text-align: center;
    margin-top: 20px;
    color: gold;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}
form{
    width: 70%;
}
.input-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#inputBox{
    width: 90%;
    height: 25px;
    border: 2px ridge ;
    background-color: whitesmoke;
    border-radius: 3px;
    outline: none;
}
.add{
    margin-left: 3px;
    font-weight: bolder;
    color: black;
    background-color: gold;
    border-radius: 2px;
    border: 2px solid gold;
    padding: 3px 22px;
    padding-right: 22px;
    outline: none;
}
.add:hover{
    color: rgb(12, 12, 41);
    background-color: white;
    border: 2px white;
    cursor: pointer;
}
.list{
    background-color: none;
    margin-top: 15px;
    font-weight: bolder;
    font-size: 20px;    
}
.item{
    color: gold;
    margin-right: 200px;
    width: 95%;
    border-radius: 20px;
    background-color: rgba(244, 244, 242, 0.076);
    list-style-type: none;
}
.item:hover{
    color: goldenrod;
}
.item p{
    flex-basis: 80%;
}
.delete{
    display: fixed inline-block;
    margin-left: 800px;
    font-size:10px ;
    padding: 6px 6px;
    transition: all 0.3s;
    background-color: rgb(207, 37, 37);
    border: 2px solid rgb(207, 37, 37);
}
.delete:hover{
    background-color: red;
    cursor: pointer;
}
.check{
    background-color: rgb(222, 251, 148);
    cursor: pointer;
}
.check:hover{
    background-color: rgb(16, 241, 16);
    border: 2px solid rgb(16, 341, 16);
}
.item6{
    visibility: hidden;
}